page-home {
    ion-content {
        background-color: #0075BA !important;
        .scroll-content {
            overflow-y: auto;
            .label-md {
                margin: 0;
            }

            .select-md {
                padding: 0;
            }

            ion-select {
                width: 70%;
                max-width: 70%;
            }

            ion-label {
                width: 30%;
            }
        }
        .logoWrapper {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            .logo {
                background-image: url('../../assets/imgs/preview.png');
                background-size: 100%;
                min-width: 100px;
                min-height: 100px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-radius: 25px;
                box-shadow: 0px 1px 1px 0px #333;
            }
        }
        .mainContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            .mainWrapper {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 1px 1px 1px #333, 0px 5px 10px 0px #555;
                background: #FFF;
                .mainWrapperBody {
                   
                    .item-md {
                        padding: 10px;
                    }
                }
    
                .mainWrapperHandler {
                    text-align: center;
                }
            }
        }
    }
    
    
    
}
